<form method="post" class="inline" action="{{ path('restaurant_delete', {'id': restaurant.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce restaurant ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.id) }}">
    <button class="btn btn-danger"><img src="{{ asset('/images/icon-delete.png') }}" /></button>
</form>
