{% extends 'base.html.twig' %}

{% block title %}Edit Restaurant{% endblock %}

{% block body %}
{% include 'layout/navbar.html.twig' %}
    <div class="card w-50 all-center">
         <div class="card-body">
            <h1 class="card-title" style="margin:10px">Modifier votre restaurant</h1>
            {{ include('restaurant/_form.html.twig', {'button_label': 'Modifier'}) }}
            <a href="{{ path('restaurant_show',{'id': restaurant.id}) }}" class="btn btn-warning left">Annuler</a>
            <div class="right">{{ include('restaurant/_delete_form.html.twig') }}</div>
            <br><br>
        </div>
    </div>
{% endblock %}
