<form method="post" class="inline" action="{{ path('produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
<button class="btn btn-danger"><img src="{{ asset('/images/icon-delete.png') }}" /></button>
</form>
